<div ng-controller="RacingCtrl">
    <div class="col-md-2">
        <h3 class="text-center"><label>Current Standing</label></h3>
        <ul class="no-list-style text-center">
            <li>
                #1 in Western Division, 305 points
            </li>
        </ul>
        <h3 class="text-center"><label>Race Links</label></h3>
        <ul class="no-list-style text-center">
            <li ng-repeat="link in links">
                <a href="javascript:void(0)" ng-if="link.name !== 'Results'" ng-class="{selected: link.selected}" ng-click="changeSelected(link)">{{link.name}}</a>
                <a href="http://www.crescentskicouncil.org/racing/raceresults.html" target="_blank" ng-if="link.name === 'Results'">{{link.name}}</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9 left-separator">
        <template-article template-path="selectedPath"></template-article>
    </div>
</div>