.asc-example h1 {
  background-color: purple
}


.main-body {

  font-family: 'Lato', sans-serif;
  font-size:1.5em;
  color: #fff;
  background-image: url("/app/content/img/asvGradient.jpg");



}

.banner {
  height: 200px;
  overflow: hidden;
  display: block;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.banner-logo-wrapper {
  height: 150px;
  width: 150px;
  top: 25px;
  left: 25px;
  position: absolute;
}

.banner-title-wrapper {
  top: 65px;
  left: 200px;
  position: absolute;
  font-size: 50px;
}

.banner-social-wrapper {
  position: absolute;
  top: 82.5px;
  right: 25px;
}

.banner-social-wrapper a {
  padding: 2px
}

.nav-bar {
  height: 50px;
  border-color: #fff;
  border-style: solid;
  border-width: 1px 0 1px 0;
  text-align: center;
}

.nav-bar ul {
  padding: 0;
  list-style: none;
  text-align: center;
  display: inline;
}

.nav-bar li {
  font-weight: 900;
  display: inline-block;
  line-height: 50px;
  height: 48px;
  padding: 0;
  border-left: #fff solid 1px;
}

.nav-bar li:first-child {
  border-left: none;
}

.nav-bar a {
  padding: 10px 20px 10px 20px;
}

.right-separator {
  border-right: #fff solid 1px;
}

a {
  color: inherit;
}

a:hover {
  color: #BF2413;
}

a:link {
  text-decoration: none; 
}

.template-borders {
  border: solid #fff 1px;
}

.template-margins {
  margin: 5px 5px 5px 5px;
}

ul {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

ul li.gallery-image {
	list-style: none;
	margin-bottom: 25px;
}

ul li.gallery-image img {
	cursor: pointer;
}

.gallery-container {
    background-color: #fff;
    border: solid 5px #fff;
    border-radius: 10px;
    height: 680px;
    overflow: hidden;
}

.gallery-img-wrapper {
    border: solid 5px #fff;
}

.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '5 .column.column-1-5';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-5 {
    width: 20%;
}

.indent-left-30 {
    padding-left: 30px; 
}

sup, sup > a, sup > a:hover, sup > a:focus {
    color: #BF2413;
}

a.content-link {
    color: #BF2413;
}

a.content-link:hover, a.content-link:focus {
    color: #23527c;
}

ul.no-list-style {
    list-style-type: none;
}

ul.no-list-style > li {
    margin-bottom: 5px;
}

a.selected {
    color: #23527c;
}