<div data-ng-controller="HomeCtrl">
  <div class="col-md-2 text-center">
    <h2>Monthly Meeting</h2>
    <h6>Topic</h6>
    <p>{{monthlyMeeting.topic}}</p>
    <h6>at</h6>
    <p>
      <a target="_blank" href="{{monthlyMeeting.mapUrl}}">
          {{monthlyMeeting.location}}<br/>{{monthlyMeeting.address}}
      </a>
    </p>
    <h6>on</h6>
    <p>{{monthlyMeeting.date}}<br/>{{monthlyMeeting.time}}</p>
    <h6 data-ng-if="monthlyMeeting.notes">{{monthlyMeeting.notes}}</h6>
    <div ng-repeat="announcement in otherAnnouncements track by $index">
      <br/>
      <h3 data-ng-if="$index != 1">{{announcement.name}}</h3>
      <h3 data-ng-if="$index === 1"><a target="_blank" href="https://www.youtube.com/watch?v=t5J1cJwXlO0">{{announcement.name}}</a></h3>
      <p>
        <a target="_blank" href="{{announcement.mapUrl}}">
            {{announcement.location}}<br/>{{announcement.address}}
        </a>
      </p>
      <h6>on</h6>
      <p>{{announcement.date}}<br/>{{announcement.time}}</p>
      <p data-ng-if="announcement.notes">{{announcement.notes}}<span data-ng-if="$index === 1"><a target="_blank" href="http://9850.formovietickets.com:2235/">http://9850.formovietickets.com:2235/</a></span></p>
    </div>
    
  </div>
  <div class="col-md-9 left-separator">
    <div class="home-carousel-wrapper">
      <carousel interval="slideInterval">
        <slide ng-repeat="slide in welcomeSlides" active="slide.active">
          <img ng-src="{{slide.src}}" style="margin:auto;" class="home-img">
        </slide>
      </carousel>
    </div>
    <h1>Welcome to the Asheville Ski Club</h1>
    <h3>Asheville Ski Club is all about letting the good times roll.</h3>
    <p>
        For over 50 years Asheville Ski Club has provided an opportunity for active people of all ages to ski, snowboard, travel, and socialize as a group. As a not-for-profit organization, the club was formed to promote recreational skiing and snowboarding in Western North Carolina. The club remains active throughout the year with activities such as mountain biking, tubing, hiking, caving and social events.
    </p>
    <h3><a href="#/trips">Trips</a></h3>
    <p>
        The Asheville Club sponsors domestic and international trips to some of the finest ski areas in the world. We also partner with the Crescent Ski Council, which is comprised of 20 ski clubs, to offer additional travel destinations at remarkable prices.
    </p>
    <h3><a href="#/racing">Racing</a></h3>
    <p>
        <label>Come and join our race team!</label> We have a great team in the highly competitive Crescent Ski Council racing program. All ages and skill levels are welcome in the handicapped format. Feel the rush of competition and improve your skiing ability at the same time.
    </p>
    <h3><a href="#/calendar">Meetings</a></h3>
    <p>
        We meet every month at a local establishment to socialize, and promote club activities in some fashion. Meeting dates, time and location can be seen here at this web site or on Facebook. Be sure to like us as on Facebook so you don’t miss any of the great opportunities the club offers.
    </p>
     <h3>Activities</h3>
    <p>
        The club tries to accommodate the interests of its members and is always open to suggestions. There is an active mountain biking group that rides twice a week weather permitting. Throw in camping trips, white water rafting, caving and a myriad of other outdoor activities and you start to get the picture of who we are.
    </p>
    <h3>Join</h3>
    <p>You can find an application <a href="forms/MembForm.pdf" target="_blank" class="content-link">here</a>. Feel free to contact us with any questions at <a href="mailto:ashskiclub@gmail.com" class="content-link">ashskiclub@gmail.com</a>.</p>
  </div>
</div>

