extends layout
block body





    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container-fluid
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#/about') ASC
            .navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right(ng-controller='NavBarCtrl')
                    li(data-toggle='collapse' data-target=".nav-collapse" data-ng-click='selectedPage = "/home"' data-ng-class='{active: selectedPage === "/home"}')
                        a(href='#/home' ) HOME
                    li(data-toggle='collapse' data-target=".nav-collapse" data-ng-click='selectedPage = "/news"' data-ng-class='{active: selectedPage === "/news"}')
                        a(href='#/news') NEWS
                    li(data-toggle='collapse' data-target=".nav-collapse" data-ng-click='selectedPage = "/calendar"' data-ng-class='{active: selectedPage === "/calendar"}')
                        a(href='#/calendar') CALENDAR
                    li(data-toggle='collapse' data-target=".nav-collapse" data-ng-class='{active: selectedPage === "/membership"}')
                        a(href='forms/MembForm.pdf' target="_blank") MEMBERSHIP
                    li(data-toggle='collapse' data-target=".nav-collapse" data-ng-click='selectedPage = "/racing"' data-ng-class='{active: selectedPage === "/racing"}')
                        a(href='#/racing') RACING
                    li(data-toggle='collapse' data-target=".nav-collapse" data-ng-click='selectedPage = "/trips"' data-ng-class='{active: selectedPage === "/trips"}')
                        a(href='#/trips') TRIPS
                    li(data-toggle='collapse' data-target=".nav-collapse" data-ng-click='selectedPage = "/resorts"' data-ng-class='{active: selectedPage === "/resorts"}')
                        a(href='#/resorts') RESORTS
                    li(data-toggle='collapse' data-target=".nav-collapse" data-ng-click='selectedPage = "/gallery"' data-ng-class='{active: selectedPage === "/gallery"}' style="display: none;")
                        a(href='#/gallery') GALLERY
                    li(data-toggle='collapse' data-target=".nav-collapse" data-ng-click='selectedPage = "/contact"' data-ng-class='{active: selectedPage === "/contact"}')
                        a(href='#/contact') CONTACT
    div(class="container-fluid")#header
       div( class="row")

          div(class="col-md-12")
              .row
                span.col-md-1
                span.col-md-1.col-sm-1
                    div.img-size.center-img
                        img(src="/img/Clublogo.gif" class="scalable-image")

                h1.col-md-4.col-sm-4.fontSize Asheville Ski Club

                span.col-md-5.col-sm-5.text-right#header-img
                    a(target="_blank" href="http://www.crescentskicouncil.org/index.html").separate-img
                        img(src="/img/CresentLogo.gif" style="height: 60px;")
                    a(target="_blank" href="http://www.skifederation.org/index.html").separate-img
                        img(src="/img/nscf_logo.png" style="height: 60px;")
                    a(target="_blank" href="https://www.facebook.com/pages/Asheville-Ski-Club/168900931719?ref=br_tf").separate-img
                        img(src="/img/social_fb.png")
                    a(target="_blank" href="https://twitter.com/skiavl")
                        img(src="img/social_tw.png")
                 span.col-md-1
    .container-fluid#wrapper
       div(ng-view)#content
    div.footer(class="top-separator")
        .row
            div.col-md-12.text-center







    script( src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script( src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js")
    script( src="components/bootstrap-image-gallery/js/bootstrap-image-gallery.min.js")
    script( src="bower_components/angular/angular.js")
    script( src="bower_components/bootstrap/dist/js/bootstrap.js")
    script( src="bower_components/angular-route/angular-route.js")
    script( src="app/app.js")
    script( src="home/home.js")
    script( src="gallery/gallery.js")
    script( src="news/news.js")
    script( src="racing/racing.js")
    script( src="trips/trips.js")
    script( src="membership/membership.js")
    script( src="resorts/resorts.js")
    script( src="common/directives.js")
    script( src="calendar/calendar.js")
    script( src="contact/contact.js")
    script( src="galleryService/galleryService.js")
    script( src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
    script( src="bower_components/angular-deckgrid/angular-deckgrid.js")
    script( src="components/version/version.js")
    script( src="components/version/version-directive.js")
    script( src="components/version/interpolate-filter.js")


